@import "./_Utils/variables", "./_Utils/mixins", "./_Utils/maps";
@import "./_layouts/header", "./_layouts/exploration",
  "./_layouts/fonctionnement", "./_layouts/restaurant", "./_layouts/footer",
  "./_layouts/menus";
@import "./_composants/btn-exploration", "./_composants/btn-fiche",
  "./_composants/heart", "./_composants/loader", "./_composants/map";
@font-face {
  font-family: roboto;
  src: url(./_Police/Base/Roboto/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "roboto", "sans-serif";
  margin: 0;
}

/*HEADER*/

.logo-header {
  text-align: center;
  font-size: 20px;
}
.title_block {
  margin: 20px;
}

.map {
  justify-content: center;
  background-color: #dcdcdc;
  display: flex;
  padding-left: 3%;
  height: 40px;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #c0c0c0;
}

.map-search input {
  justify-content: center;
  background-color: #dcdcdc;
  display: flex;
  padding-left: 3%;
  height: 40px;
  align-items: center;
  box-shadow: inset 0 3px 0 0 #c0c0c0;
}

.text-city {
  background-color: #dcdcdc;
  border: none;
  margin: 10px;
}

/*LOADER*/

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  animation-name: myloader;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader-page {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes myloader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}

/*MAIN*/

.main {
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.maindish {
  animation: fadeInAnimation ease 4s;
}

.first-dish {
  animation: fadeInAnimation ease 4s;
}

.dessert {
  animation: fadeInAnimation ease 4s;
}

.exploration {
  text-align: center;
  padding: 25px;
  background-color: #f5f5f5;
}
.exceptional-restaurant {
  color: #9b9b9b;
}

.btn-exploration {
  font-size: medium;
}

.réserve-menu {
  padding: 10px;
}
.map-search {
  margin-right: -30px;
}

/*SECTION1*/

.listing-number {
  display: flex;
  gap: 10%;
  margin-left: 5%;
}

.btn-exploration button:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 300ms;
}

.Restaurant-list {
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 35px;
  height: 25px;
  width: 100%;
  display: flex;
  box-shadow: 0.25rem 0.25rem 0.5rem darkgrey;
}

.Restaurant-list:hover {
  transform: scale(1.1);
}

.paragraph {
  display: contents;
  margin-left: 10px;
}

.listing-functionality {
  background-color: #9356dc;
  color: white;
  border-radius: 100%;
  height: 25px;
  display: flex;
  width: 1.5rem;
  padding: 4px 9px;
  margin-right: 10%;
  margin-left: -35px;
}

.icon {
  margin: 1px;
}

/*SECTION2*/

.dish {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px #c0c0c0;
  cursor: pointer;
  height: 7rem;
  display: flex;
  padding-left: 20px;
  margin: 38px;
  &:hover .check-right {
    margin-right: 0;
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  &:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
  .entree,
  .maindish-menus,
  .dessert-menus {
    width: 100%;
    max-width: 100%;
    display: flex;
    .entree-desc,
    .dessert-desc,
    .maindish-desc {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
      }
    }

    .entree-price,
    .dessert-price {
      display: flex;
      align-items: flex-end;
      max-width: 100%;
      height: 40%;
    }
  }
  .check-right {
    width: 5rem;
    opacity: 0;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    margin-right: -15px;
    height: 113px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    > i {
      color: #99e2d0;
      background: white;
      transition-duration: 0.5s;
      border-radius: 50%;
    }
  }
}

.dish h4 {
  margin: 0;
  padding-top: 10px;
}

.full-menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.title-dish {
  border-bottom: 4px solid #99e2d0;
  width: 40px;
  margin-left: 20px;
}

@keyframes fadeInAnimation {
  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn_explore button {
  background-image: linear-gradient(
    to left,
    #9356dc,
    #b35cdc,
    #cf64dc,
    #e86edb,
    #ff79da
  );
  color: white;
  position: relative;
  left: 45%;
  margin: 10px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  transform: scale(1);
  transition: transform 400ms;
  box-shadow: inset 0px 0px 1px 0px #c0c0c0;
  border-radius: 20px;
}

.btn_explore button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #9b9b9b;
  transform: scale(1.3);
}

.Card_image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  padding-top: 0;
  border-radius: 12px 12px 0 0;
  padding-left: 0;
}

.card-new {
  background-color: #99e2d0;
  color: green;
  padding: 10px;
  position: relative;
  bottom: 140px;
  right: 25px;
  float: right;
}

.btn-form {
  position: relative;
}

.title-card {
  color: #353535;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-subtitle {
  color: #353535;
}

.icon-heart {
  color: black;
}

.card {
  height: 90%;
  box-shadow: 0 0 16px grey;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 88%;
  margin-left: 35px;
}

.card:hover {
  transform: scale(1.1);
  transition: 300ms;
}
/*FOOTER*/

.logo-footer {
  font-family: "shrikhand";
  margin-bottom: 15px;
  color: #fff;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.footer {
  margin-top: 10px;
  background-color: #353535;
  color: #fff;
  height: 250px;
  padding: 25px;
}

/*RESPONSIVE*/

@media screen and (max-width: 770px) {
  .card {
    margin: 20px;
    margin-left: 30px;
  }

  .btn_explore button {
    margin: 10px;
  }

  .full-menus {
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .listing-number {
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .entree-desc,
  .maindish-desc,
  .dessert-desc {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card-text {
    display: flex;
    flex-direction: column;
  }

  .card-content {
    height: 60px;
  }
}

@media screen and (max-width: 1440px) {
  .card-icons {
    position: relative;
    bottom: 30px;
  }
}
