html,
body {
  font-family: "roboto";
}
/*HEADER*/
.logo-header {
  text-align: center;
  font-size: 20px;
}

.city-local {
  justify-content: center;
  background-color: #dcdcdc;
  display: flex;
  padding-left: 3%;
  height: 40px;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #c0c0c0;
}

.text-city {
  background-color: #dcdcdc;
  border: none;
  margin: 10px;
}

/*MAIN*/
.explore-restaurant {
  text-align: center;
  padding: 25px;
  background-color: #f5f5f5;
}
.exceptional-restaurant {
  color: #9b9b9b;
}

.btn-explore {
  color: black;
}

.listing-number {
  display: flex;
  justify-content: space-between;
}

.réserve-menu {
  padding: 10px;
}
.map-search {
  margin-right: -30px;
}
