
    .fa-heart{
    position: absolute;
    right: 1rem;
    }

    .bord {
    cursor: pointer;
    background:linear-gradient(white,rgba(252, 14, 14, 0));
    &:hover {
        animation: fill 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background-color: #ff00b7;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold;
        transition-duration: 2s;
    }
    }

    .fill {
    cursor: pointer;
    background:linear-gradient(white,rgba(252, 14, 14, 0));
    &:hover {
        animation: fill 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background-color: #ff00b7;
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold;
        transition-duration: 1s;
        
    }
    }

    .card-icons {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 10px;
        right: 10px;
    }