.map {
  justify-content: center;
  background-color: #dcdcdc;
  display: flex;
  padding-left: 3%;
  height: 40px;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #c0c0c0;
}

.map-search input {
  @include map;
}
