@mixin map {
  justify-content: center;
  background-color: #dcdcdc;
  display: flex;
  padding-left: 3%;
  height: 40px;
  align-items: center;
  box-shadow: inset 0px 3px 3px 0px #c0c0c0;
}

@mixin btn-exploration {
  transform: scale(1.15);
  cursor: pointer;
  transition: 300ms;
  background-color: #9356dc;
}

@mixin Fonctionnement {
  margin: 20px;
}

@mixin btn-form {
  position: relative;
}
